<div class="row">
  <div class="col-md-1 col-xs-1">
  Position
  </div>

<div class="col-md-5 col-xs-5">
  Task
</div>
<div class="col-md-4 col-xs-4">
    Status
</div>
<div class="col-md-2 col-xs-2">
    Delete
</div>

</div>
