<h1>Lists#index</h1>
<p>Find me in app/views/lists/index.html.erb</p>
<h3><%= link_to "New List", new_list_path %></h3>

<% @lists.each do |list| %>
  <%= render partial: 'listitem',
      locals: { list: list }%>
<% end %>
