<h1>Checkmate</h1>
<%= link_to "New Checklist", new_list_path, class: "pull-right btn-lg btn-success" %>
<br>

<ol class="center-block list-table">
<% @lists.each do |list| %>
      <li><%= render partial: 'listitem',
      locals: { list: list }%></li>
  </tr>
<% end %>
</ol>
