<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>
<%= form_for(@list) do |f| %>
<%= f.label :name, value: "List Title" %>
<%= f.text_field :name, placeholder: "List Title", class: "input-lg" %>
<%= f.submit "Create List", class: "btn btn-primary" %>
<% end %>
