<h1>Create List</h1>
<%= form_for(@list) do |f| %>
<%= f.label :name, value: "List Title" %>
<%= f.text_field :name, placeholder: "List Title", class: "input-lg" %>
<%= f.submit "Create List", class: "btn btn-primary" %>
<% end %>
