<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<h1> <%= @list.name %> </h1>

<ul>
<% @tasks.each do |task| %>
  <%= render partial: 'taskitem',
      locals: { task: task }%>
<% end %>
</ul>
